@model LendYourHome.Application.Areas.Host.Models.PersonalHomeDetailsViewModel

@{
    ViewData["Title"] = "Your Home Details";
}

@{
    var homeOfferStatus = Model.HomeInfo.IsActiveOffer ? "ACTIVE" : "INACTIVE";
}

@{
    var previousPageDisabled = Model.PageListingData.CurrentPage == 1 ? "disabled" : string.Empty;
    var nextPageDisabled = Model.PageListingData.CurrentPage == Model.PageListingData.TotalPages || Model.PageListingData.TotalPages == 0 ? "disabled" : string.Empty;
}

<div id="personal-home" class="wrapper">
    <h2 class="page-header centered">@ViewData["Title"]</h2>
    <div class="row">
        <h4 class="centered">Your Home Offer is <strong>@homeOfferStatus</strong></h4>
        <div id="myCarousel" class="carousel slide col-sm-4 col-xs-10 col-xs-offset-4" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.HomeInfo.HomePicturesUrls.Count(); i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#myCarousel" data-slide-to="@i"></li>
                    }
                }
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @for (int i = 0; i < Model.HomeInfo.HomePicturesUrls.Count(); i++)
                {
                    <div class="item @(i == 0 ? "active" : "")">
                        <img src="@Model.HomeInfo.HomePicturesUrls[i]" alt="Los Angeles" class="img-responsive">
                    </div>
                }
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="row">
        <dl class="dl-horizontal col-sm-6 col-xs-offset-3">
            <dt>
                @Html.DisplayNameFor(model => model.HomeInfo.Country)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HomeInfo.Country)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HomeInfo.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HomeInfo.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HomeInfo.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HomeInfo.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HomeInfo.Sleeps)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HomeInfo.Sleeps)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HomeInfo.Bedrooms)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HomeInfo.Bedrooms)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HomeInfo.Bathrooms)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HomeInfo.Bathrooms)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HomeInfo.PricePerNight)
            </dt>
            <dd>
                &euro;@Html.DisplayFor(model => model.HomeInfo.PricePerNight)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HomeInfo.Additionalnformation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HomeInfo.Additionalnformation)
            </dd>
        </dl>
    </div>
    <div id="home-cotrol-buttons " class="centered">
        <a asp-area="Host" asp-controller="Home" asp-action="Edit" class="btn btn-warning">Edit</a>
    </div>
    

    @if (Model.Reviews.Any())
    {
        <h2 class="text-center page-header">Reviews</h2>
        <div class="row">
            @foreach (var review in Model.Reviews)
            {
                <div class="col-sm-8 col-xs-offset-2 review-container">
                    <a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@review.EvaluatingGuestId">
                        <img src="@review.GuestProfilePictureUrl" class="reviewer-picture" alt="profile-picture">
                        <span> @review.GuestName <span class="pull-right text-muted">@review.SubmitDate.ToShortDateString()</span></span>
                    </a>
                    <div class="review-info">
                        <div><strong>Evaluation:</strong> @review.Evaluation <span class="glyphicon glyphicon-star"></span></div>
                        <div><strong>Title:</strong> @review.Title</div>
                        <div>@review.AdditionalThoughts</div>
                    </div>
                </div>
            }
        </div>

        <nav aria-label="..." class="centered-container">
            <ul class="pagination pagination-lg">
                <li class="page-item @previousPageDisabled">
                    <a class="page-link" href="/host/home/details?page=@Model.PageListingData.PreviousPage" tabindex="-1">Previous</a>
                </li>
                @for (int i = 1; i <= Model.PageListingData.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageListingData.CurrentPage ? "active" : string.Empty)"><a class="page-link" href="/host/home/details?page=@i">@i</a></li>
                }
                <li class="page-item @nextPageDisabled">
                    <a class="page-link" href="/host/home/details?page=@Model.PageListingData.NextPage">Next</a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <h2 class="text-center page-header">There Are No Reviews For Your Home</h2>
    }

</div>
