@using LendYourHome.Application.Models.Enums;
@using LendYourHome.Common.Constants
@using LendYourHome.Services.ServiceModels.Homes

@model   LendYourHome.Application.Models.HomesViewModels.HomesSearchingViewModel
    
@{
    ViewData["Title"] = "Home Search";
}

@{
    var pageKey = Model.PageListingData.Query == "" ? "page=" : "&page=";

    var previousPageDisabled = Model.PageListingData.CurrentPage == 1 ? "disabled" : string.Empty;
    var nextPageDisabled = (Model.PageListingData.CurrentPage == Model.PageListingData.TotalPages || Model.PageListingData.TotalPages == 0) ? "disabled" : string.Empty;
}

<div class="row wrapper">
    <div class="col-sm-8 col-sm-offset-2">
        <form asp-controller="Homes" asp-action="Search" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control"/>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
                    <label asp-for="Sleeps" class="control-label"></label>
                    <select asp-for="Sleeps" asp-items="Html.GetEnumSelectList<SleepsRange>()" class="form-control"></select>
                    <span asp-validation-for="Sleeps" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
                    <label asp-for="Bedrooms" class="control-label"></label>
                    <select asp-for="Bedrooms" asp-items="Html.GetEnumSelectList<NumbersRange>()" class="form-control"></select>
                    <span asp-validation-for="Bedrooms" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
                    <label asp-for="Bathrooms" class="control-label"></label>
                    <select asp-for="Bathrooms" asp-items="Html.GetEnumSelectList<NumbersRange>()" class="form-control"></select>
                    <span asp-validation-for="Bathrooms" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
                    <label asp-for="PriceRange" class="control-label"></label>
                    <div class="input-group">
                        <div class="input-group-addon">&euro;</div>
                        <select asp-for="PriceRange" asp-items="Html.GetEnumSelectList<PriceRange>()" class="form-control"></select>
                    </div>
                    <span asp-validation-for="PriceRange" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-12">
                    <input id="search-homes-button" type="submit" value="Search For Homes" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


<section id="homes" class="bg-light-gray .margin-from">
    <div class="container">
        @if (ViewData.ContainsKey(ApplicationConstants.ViewDataHomeOffersKey))
        {
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading page-header">Homes</h2>
                    <h3 class="section-subheading text-muted">Homes that meet your requirements.</h3>
                </div>
            </div>

            <div class="row">
                @foreach (var home in ViewData[ApplicationConstants.ViewDataHomeOffersKey] as IEnumerable<HomeOfferServiceModel>)
                {
                    <div class="col-sm-4 home-item">
                        <a asp-area="" asp-controller="Homes" asp-action="Details" asp-route-id="@home.Id" class="home-link" data-toggle="modal">
                            <img src="@home.PictureUrl" class="img-responsive" alt="">
                        </a>
                        <div class="home-caption">
                            <ul>
                                <li class="focused"><strong>@((home.TotalRating / (home.TotalReviewsCount != 0 ? (double)home.TotalReviewsCount : 1)).ToString("F2"))  <span class="glyphicon glyphicon-star"></span>  <span class="text-muted">(@home.TotalReviewsCount Total Reviews)</span></strong></li>
                                <li class="text-muted">In @home.Country, @home.City city</li>
                                <li class="text-muted">@home.Sleeps sleeps - @home.Bedrooms bedrooms - @home.Bathrooms bathrooms</li>
                                <li class="focused"><strong>&euro;@home.PricePerNight per Night</strong></li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <br/>
    <nav aria-label="..." class="centered-container">
        <ul class="pagination pagination-lg">
            <li class="page-item @previousPageDisabled">
                <a class="page-link" href="/homes/search?@Model.PageListingData.Query@pageKey@Model.PageListingData.PreviousPage" tabindex="-1">Previous</a>
            </li>
            @for (int i = 1; i <= Model.PageListingData.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageListingData.CurrentPage ? "active" : string.Empty)"><a class="page-link" href="/homes/search?@Model.PageListingData.Query@pageKey@i">@i</a></li>
            }
            <li class="page-item @nextPageDisabled">
                <a class="page-link" href="/homes/search?@Model.PageListingData.Query@pageKey@Model.PageListingData.NextPage">Next</a>
            </li>
        </ul>
    </nav>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
