@using LendYourHome.Application.Models.Enums;

@model   LendYourHome.Application.Models.HomesViewModels.HomesDisplayViewModel

@{
    ViewData["Title"] = "Home Search";
}
<div class="row wrapper">
    <div class="col-sm-8 col-sm-offset-2">
        <form asp-controller="Homes" asp-action="Search" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
                    <label asp-for="FormSearch.Country" class="control-label"></label>
                    <input asp-for="FormSearch.Country" class="form-control" required="required" />
                    <span asp-validation-for="FormSearch.Country" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
                    <label asp-for="FormSearch.City" class="control-label"></label>
                    <input asp-for="FormSearch.City" class="form-control" required="required" />
                    <span asp-validation-for="FormSearch.City" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
                    <label asp-for="FormSearch.Sleeps" class="control-label"></label>
                    <select asp-for="FormSearch.Sleeps" asp-items="Html.GetEnumSelectList<SleepsRange>()" class="form-control"></select>
                    <span asp-validation-for="FormSearch.Sleeps" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
                    <label asp-for="FormSearch.Bedrooms" class="control-label"></label>
                    <select asp-for="FormSearch.Bedrooms" asp-items="Html.GetEnumSelectList<NumbersRange>()" class="form-control"></select>
                    <span asp-validation-for="FormSearch.Bedrooms" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
                    <label asp-for="FormSearch.Bathrooms" class="control-label"></label>
                    <select asp-for="FormSearch.Bathrooms" asp-items="Html.GetEnumSelectList<NumbersRange>()" class="form-control"></select>
                    <span asp-validation-for="FormSearch.Bathrooms" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6">
                    <label asp-for="FormSearch.PriceRange" class="control-label"></label>
                    <div class="input-group">
                        <div class="input-group-addon">&euro;</div>
                        <select asp-for="FormSearch.PriceRange" asp-items="Html.GetEnumSelectList<PriceRange>()" class="form-control"></select>
                    </div>
                    <span asp-validation-for="FormSearch.PriceRange" class="text-danger"></span>
                </div>
                <div class="form-group col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-12">
                    <input id="search-homes-button" type="submit" value="Search For Homes" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


<section id="homes" class="bg-light-gray">
    <div class="container">
        @if (Model.Homes.Any())
            {
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading page-header">Homes</h2>
                    <h3 class="section-subheading text-muted">Homes that meet your requirements.</h3>
                </div>
            </div>

            <div class="row">
                @foreach (var home in Model.Homes)
                {
                    <div class="col-sm-4 col-sm-6 home-item">
                        <a asp-area="" asp-controller="Homes" asp-action="Details" asp-route-id="@home.Id" class="home-link" data-toggle="modal">
                            <img src="@home.PictureUrl" class="img-responsive" alt="">
                        </a>
                        <div class="home-caption">
                            <ul>
                                <li class="focused"><strong>@home.AverageRating Average Rating</strong></li>
                                <li class="text-muted">In @home.Country, @home.City city</li>
                                <li class="text-muted">@home.Sleeps sleeps - @home.Bedrooms bedrooms - @home.Bathrooms bathrooms</li>
                                <li class="focused"><strong>&euro;@home.PricePerNight per Night</strong></li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        }
        else if(Model.FormSearch != null)
        {
            <div class="row">
                <div class="col-sm-12 col-xs-12 ">
                    <h2 class="section-heading centered page-header">No Homes With Given Requirements Found</h2>
                </div>
            </div>
        }
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
