@using System.Linq
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<div id="login-container">
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login to our site</h3>
                                <p>Enter your username and password to log on:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                <h4>Use a local account to log in.</h4>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Username"></label>
                                    <input asp-for="Username" class="form-control" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="RememberMe">
                                            <input asp-for="RememberMe" />
                                            @Html.DisplayNameFor(m => m.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button id="login-button" type="submit" class="btn btn-default">Log in</button>
                                </div>
                                <div class="form-group">
                                    <p>
                                        <a asp-action="ForgotPassword">Forgot your password?</a>
                                    </p>
                                    <p>
                                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @{
                        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                        if (loginProviders.Count != 0)
                        {
                            <div class="col-sm-6 col-sm-offset-3 social-login">
                                <h3>...or login with:</h3>
                                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in loginProviders)
                                            {
                                                <button type="submit" class="btn btn-link-1 btn-link-1-facebook" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-facebook"></i> @provider.Name</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
